<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restful Recipies</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        
        <a href="/">Restful Recipies</a>
      </h1>
      <nav>
     <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/chef">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
      <div class="hero">
            <p>Discover delicious recipes for every occasion</p>
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Whats cooking...">
                <button id="search-button">Start cooking</button>
            </div>
        </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>
